<%= form_for @store do |f| %>

  <%= render 'shared/form_errors', resource: @store %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
