<h1>Stores</h1>
<p>List of all stores in the Shopr database.</p>

<p>
  <%= link_to 'New Store', new_store_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th colspan="2"></th>
  </tr>

  <% @stores.each do |store| %>
    <tr>
      <td><%= link_to store.name, store_path(store) %></td>
      <td><%= store.location %></td>
      <td><%= link_to 'Edit', edit_store_path(store) %></td>
      <td><%= link_to 'Delete', store_path(store),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end  %>
</table>
