<h1>Shopping Lists</h1>

<p>
  <%= link_to 'New Shopping List', new_shopping_list_path %>
</p>

<table>
  <tr>
    <th>Purchase Date</th>
    <th>Store</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

  <% @shopping_lists.each do |shopping_list| %>
    <tr>
      <td><%= shopping_list.purchase_date %></td>
      <td><%= shopping_list.store.name %></td>
      <td><%= link_to shopping_list.name, shopping_list_path(shopping_list) %></td>
      <td><%= shopping_list.description %></td>
      <td><%= link_to 'Edit', edit_shopping_list_path(shopping_list) %></td>
      <td><%= link_to 'Delete', shopping_list_path(shopping_list),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end  %>
</table>
